# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/

# Large Datasets
data/raw/
data/processed/*.csv
data/processed/*.parquet

# Frontend
frontend/node_modules/
frontend/dist/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
